tls:
  certificates:
    - certFile: {{ item['cert'] }}
      keyFile: {{ item['key'] }}
  stores:
    default:
      defaultCertificate:
        certFile: {{ item['cert'] }}
        keyFile: {{ item['key'] }}
