global:
  name: consul
  domain: "{{ consul_domain }}"
  datacenter: "{{ consul_datacenter }}"
  gossipEncryption:
    secretName: "consul-gossipencryption"
    secretKey: "token"
  recursors: {{ consul_recursors | replace('\'', '\"') }}
  tls:
    enabled: true
    enableAutoEncrypt: true
    verify: true

dns:
  enabled: true
  enableRedirection: true

syncCatalog:
  enabled: true
  k8sPrefix: "k3s-"
  k8sTag: "k3s"
  consulNodeName: "k3s-sync"
  log_level: "debug"

server:
  enabled: false

externalServers:
  enabled: true
  hosts: {{ groups['consul_servers'] | replace('\'', '\"') }}
  httpsPort: {{ consul_ports['https'] }}

client:
  enabled: true
  grpc: true
  join: {{ groups['consul_servers'] | replace('\'', '\"') }}
  extraConfig: |
    {
      "log_level": "DEBUG",
      "advertise_reconnect_timeout": "15m"
    }
  updateStrategy: |
    rollingUpdate:
      maxUnavailable: 3
  type: RollingUpdate
  tolerations: |
    - operator: Exists
  resources:
    requests:
      memory: '2Gi'
      cpu: '1'
    limits:
      memory: '4Gi'
      cpu: '2'

ui:
  enabled: false

connectInject:
  enabled: true
  default: true
controller:
  enabled: true

ingressGateway:
  enabled: true
