{% if inventory_hostname in groups['nomad_servers'] %}
server {
  enabled                 = true
  bootstrap_expect        = {{ groups['nomad_servers']|length }}
  encrypt                 = "{{ nomad_encrypt_token }}"
}
{% else %}
client {
  enabled = true
}
{% endif %}

tls {
  http  = true
  rpc   = true

  ca_file   = "{{ nomad_config_path | dirname }}/certs/hashi_ca.pem"
{% if inventory_hostname in groups['nomad_servers'] %}
  cert_file = "{{ nomad_config_path | dirname }}/certs/cluster/nomad_{{ inventory_hostname }}.pem"
  key_file  = "{{ nomad_config_path | dirname }}/certs/cluster/nomad_{{ inventory_hostname }}.key"
{% else %}
  cert_file = "{{ nomad_config_path | dirname }}/certs/client/nomad_{{ nomad_datacenter }}_client_crt.pem"
  key_file  = "{{ nomad_config_path | dirname }}/certs/client/nomad_{{ nomad_datacenter }}_client_key.pem"
{% endif %}
  verify_server_hostname  = true
  verify_https_client     = true
}
