{% if inventory_hostname in groups['nomad_servers'] %}
server {
  enabled                 = true
  bootstrap_expect        = {{ groups['nomad_servers']|length }}
  encrypt                 = "{{ nomad_encrypt_token }}"
}
{% else %}
plugin_dir = "{{ nomad_config_path | dirname }}/plugins"
client {
  enabled = true
{% if ansible_facts['architecture'] == "aarch64" %}
  node_class = "rpi"
{% else %}
  node_class = "host"
{% endif %}
}

{% if inventory_hostname not in groups['nomad_servers'] and nomad_drivers['raw_exec'] %}
plugin "raw_exec" {
  config {
    enabled = true
  }
}
{% endif %}

{% if inventory_hostname not in groups['nomad_servers'] and nomad_drivers['raw_exec'] %}
plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled = true
    }
  }
}
{% endif %}
{% endif %}

tls {
  http  = true
  rpc   = true

  ca_file   = "{{ nomad_config_path | dirname }}/certs/hashi_ca.pem"
{% if inventory_hostname in groups['nomad_servers'] %}
  cert_file = "{{ nomad_config_path | dirname }}/certs/cluster/{{ _nomad_certs['cluster'][inventory_hostname]['pub_cert']['filename'] }}"
  key_file  = "{{ nomad_config_path | dirname }}/certs/cluster/{{ _nomad_certs['cluster'][inventory_hostname]['prv_key']['filename'] }}"
{% else %}
  cert_file = "{{ nomad_config_path | dirname }}/certs/client/{{ _nomad_certs['client'][nomad_datacenter]['cert_public_key']['filename'] }}"
  key_file  = "{{ nomad_config_path | dirname }}/certs/client/{{ _nomad_certs['client'][nomad_datacenter]['cert_private_key']['filename'] }}"
{% endif %}
  verify_server_hostname  = true
  verify_https_client     = true
}
