NOMAD_CACERT="{{ nomad_config_path | dirname }}/certs/nomad_ca.pem"
NOMAD_CLIENT_CERT="{{ nomad_config_path | dirname }}/certs/client/{{ _nomad_certs['client'][nomad_datacenter]['cert_public_key']['filename'] }}"
NOMAD_CLIENT_KEY="{{ nomad_config_path | dirname }}/certs/client/{{ _nomad_certs['client'][nomad_datacenter]['cert_private_key']['filename'] }}"
