{%- if vault_listener_interface == "default" %}
  {% set vault_listener_address =  ansible_facts['default_ipv4']['address'] %}
{% elif vault_listener_interface == "all" %}
  {% set vault_listener_address =  "0.0.0.0" -%}
{% else %}
  {% set vault_listener_address =  ansible_facts[vault_listener_interface]['ipv4']['address'] -%}
{% endif %}

{%- if _vault_certs.keys()|length == 0 %}
  {% set vault_proto = "http" %}
{% else %}
  {% set vault_proto = "https" %}
{% endif %}

listener "tcp" {
  address     = "127.0.0.1:{{ vault_listener_port }}"
  tls_disable = true
}

listener "tcp" {
  address          = "{{ vault_listener_address }}:{{ vault_listener_port }}"
  cluster_address  = "{{ vault_listener_address }}:{{ vault_cluster_port }}"
{% if _vault_certs.keys()|length > 0 %}
  tls_cert_file     = "{{ vault_config_path | dirname }}/certs/{{ _vault_certs['pub_cert']['filename'] }}"
  tls_key_file      = "{{ vault_config_path | dirname }}/certs/{{ _vault_certs['prv_key']['filename'] }}"
  tls_min_version  = "tls12"
{% endif %}
}

{% if vault_storage == "raft" %}
storage "raft" {
  path       = "{{ vault_config_path | dirname }}/data"
  node_id    = "{{ ansible_facts['hostname'] }}"
{% for node in groups['vault_servers'] %}
  retry_join {
    leader_api_addr        = "{{ vault_proto }}://{{ node }}:{{ vault_listener_port }}"
{% if _vault_certs.keys()|length > 0 %}
    leader_ca_cert_file     = "{{ vault_config_path | dirname }}/certs/vault_ca.crt"
    leader_client_cert_file = "{{ vault_config_path | dirname }}/certs/{{ _vault_certs['pub_cert']['filename'] }}"
    leader_client_key_file  = "{{ vault_config_path | dirname }}/certs/{{ _vault_certs['prv_key']['filename'] }}"
{% endif %}
  }
{% endfor %}
}
disable_mlock = true
{% endif %}

{% if vault_ui %}
ui            = true
{% endif %}
api_addr      = "{{ vault_proto }}://{{ vault_listener_address }}:{{ vault_listener_port }}"
cluster_addr  = "{{ vault_proto }}://{{ vault_listener_address }}:{{ vault_cluster_port }}"
