**/ssh_keys/*
!ssh_keys/.gitkeep
**/certificates/*
**/certificates/docker/*
**/*.crt
**/*.key
**/*.pem
*.rkestate
**/30-configs/*.yaml
helm/traefik-helm-chart
helm/traefik_values.yaml
**/terraform.d/
**/.terraform/*
**/.terraform
*.tfstate
*.plan
infra.json
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.DS_Store
*.manifest
*.spec
**/logs/*
!**/logs/.gitkeep
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
.env
.envrc
/site
**/govc/*

**/kubernetes/*
!**/kubernetes/.gitkeep
kube_config*.yml
.kubeconfig*.yml

.bundle/
*.iso
*.box
*.ovf
*.vmdk
*.vdi
virtualfloppy.vfd
packer_cache
packer.log
packer*.log
.DS_Store
/packer-*/
*.variables.json
_builds/
.kitchen
.kitchen.yml
Gemfile.lock
bootstrap.sh
Berksfile.lock
ubuntu/scripts/homestead.sh
*.log
iso/
ssh_keys/
*.envrc
