{
  "cniVersion": "0.4.0",
  "name": "olympus_ipvlan",
  "plugins": [
    {
      "type": "ipvlan",
      "master": "{{ container_vlan_name }}",
      "mode": "l2",

      "ipam": {
        "type": "host-local"
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    },
    {
        "type": "portmap",
        "capabilities": {
          "portMappings": true
        },
        "snat": true
    }
  ]
}

