{
  "cniVersion": "0.4.0",
  "name": "cni_macvlan",
  "plugins": [
    {
      "type": "macvlan",
      "master": "{{ container_vlan_name }}",
      "mode": "bridge",

      "ipam": {
        "type": "host-local",
        "ranges": [
          [
            {
              "subnet": "",
              "rangeStart": "",
              "rangeEnd": "",
              "gateway": ""
            }
          ]
        ],
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ]
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    }
  ]
}

