{
  "cniVersion": "0.4.0",
  "name": "{{ 'cni_bridge_' + parent_interface|replace('-','_')|lower }}",
  "plugins": [
    {
      "type": "bridge",
      "bridge": "{{ 'br-' + parent_interface }}",
      "ipMasq": true,
      "hairpinMode": true,
      "promiscMode": true,

      "ipam": {
        "type": "host-local",
        "subnet": "10.1.0.0/16",
        "gateway": "10.1.0.1",
        "routes": [
            {"dst": "0.0.0.0/0"}
        ]
      },
      "dns": {
        "nameservers": [ "10.1.0.1" ]
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    },
    {
        "type": "portmap",
        "capabilities": {"portMappings": true}
    }
  ]
}
