{
  "cniVersion": "0.4.0",
  "name": "{{ 'cni_ipvlan_' + parent_interface|replace('-','_')|lower }}",
  "plugins": [
    {
      "type": "ipvlan",
      "master": "{{ parent_interface }}",
      "mode": "l2",

      "ipam": {
        "type": "host-local"
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    },
    {
        "type": "portmap",
        "capabilities": {
          "portMappings": true
        },
        "snat": true
    }
  ]
}

