{
  "cniVersion": "0.4.0",
  "name": "{{ 'cni_macvlan_' + parent_interface|replace('-','_')|lower }}",
  "plugins": [
    {
      "type": "macvlan",
      "master": "{{ parent_interface }}",
      "mode": "bridge",

      "ipam": {
        "type": "host-local",
        "ranges": [
          [
            {
              "subnet": "{{ subnet }}",
              "rangeStart": "",
              "rangeEnd": "",
              "gateway": "{{ subnet | ipaddr('net') | ipaddr('1') | ipaddr('address') }}"
            }
          ]
        ],
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ]
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    }
  ]
}

