apiVersion: v1
kind: Secret
metadata:
  namespace: consul
  name: consul-ca-cert
type: kubernetes.io/tls
data:
  # the data is abbreviated in this example
  tls.crt: |
    {{ _olympus_v2['hashi_cas']['intermediate']['pub']|b64encode }}
  tls.key: |
    {{ _olympus_v2['hashi_cas']['intermediate']['prv']|b64encode }}

