server                  = true
bootstrap_expect        = {{ groups['consul_servers']|length }}

{% if consul_enable_ui %}
ui_config {
  enabled = true
}
{% endif %}

connect {
  enabled = true
  ca_provider = "consul"
  ca_config {
    private_key = "{{ consul_config_path | dirname }}/certs/consul_ca.key"
    root_cert = "{{ consul_config_path | dirname }}/certs/consul_ca.pem"
  }
}
