server                  = true
bootstrap_expect        = {{ groups['consul_servers']|length }}

retry_join = {{ groups['consul_servers'] | replace('\'', '\"') }}
{% if consul_enable_ui %}
ui_config {
  enabled = true
}
{% endif %}

connect {
  enabled = true
  ca_provider = consul
  ca_config {
    private_key = ""
    root_cert = ""
  }
}
