{%- if consul_listener_interface == "default" %}
  {% set consul_listener_address =  ansible_facts['default_ipv4']['address'] %}
{% elif consul_listener_interface == "all" %}
  {% set consul_listener_address =  "0.0.0.0" -%}
{% else %}
  {% set consul_listener_address =  ansible_facts[consul_listener_interface]['ipv4']['address'] -%}
{% endif %}

node_name               = "{{ ansible_facts['hostname'] }}"
disable_update_check    = true
verify_server_hostname  = true
verify_incoming         = true
verify_outgoing         = true
{% if consul_enable_syslog %}
enable_syslog = true
{% endif %}

log_level     = "{{ consul_log_level }}"
datacenter    = "{{ consul_datacenter }}"
data_dir      = "{{ consul_config_path | dirname}}/data"
domain        = "{{ consul_domain }}"
recursors     = {{ consul_recursors | replace('\'', '\"') }}
retry_join    = {{ groups['consul_servers'] | replace('\'', '\"') }}

encrypt  = "{{ consul_encrypt_token }}"
ca_file   = "{{ consul_config_path | dirname }}/certs/hashi_ca.pem"
{% if inventory_hostname in groups['consul_servers'] %}
cert_file = "{{ consul_config_path | dirname }}/certs/cluster/{{ _consul_certs['cluster'][inventory_hostname]['pub_cert']['filename'] }}"
key_file  = "{{ consul_config_path | dirname }}/certs/cluster/{{ _consul_certs['cluster'][inventory_hostname]['prv_key']['filename'] }}"
{% endif %}

auto_encrypt {
{% if inventory_hostname in groups['consul_servers'] %}
  allow_tls = true
{% else %}
  tls = true
{% endif %}
}

bind_addr = "{{ consul_listener_address }}"

{% if consul_listener_interface == "all" %}
addresses {
  grpc  = "127.0.0.1"
  http  = "127.0.0.1"
  https = "{{ consul_listener_address }}"
  dns   = "127.0.0.1"
}
{% else %}
addresses {
  grpc  = "127.0.0.1 {{ consul_listener_address }}"
  http  = "127.0.0.1"
  https = "127.0.0.1 {{ consul_listener_address }}"
  dns   = "127.0.0.1 {{ consul_listener_address }}"
}
{% endif %}

ports {
  grpc  = {{ consul_ports['grpc'] }}
  http  = {{ consul_ports['http'] }}
  https = {{ consul_ports['https'] }}
  dns   = {{ consul_ports['dns'] }}
  server   = {{ consul_ports['server'] }}
  serf_lan = {{ consul_ports['lan_serf'] }}
  serf_wan = {{ consul_ports['wan_serf'] }}
}
