export CONSUL_CACERT="{{ consul_config_path | dirname }}/certs/consul_ca.pem"
export CONSUL_CLIENT_CERT="{{ consul_config_path | dirname }}/certs/client/{{ _consul_certs['client'][consul_datacenter]['cert_public_key']['filename'] }}"
export CONSUL_CLIENT_KEY="{{ consul_config_path | dirname }}/certs/client/{{ _consul_certs['client'][consul_datacenter]['cert_private_key']['filename'] }}"
