credentials-file: {{ cloudflared_config_path }}/credentials.json
tunnel: {{ _olympus_v2['olympus_tunnel']['uuid'] }}
loglevel: info
logfile: {{ cloudflared_config_path }}/cloudflared.log

ingress:
{% for entry in _olympus_v2['cf_apps'] %}
  - hostname: {{ entry.cname }}
{% if entry.path != "" %}
    path: {{ entry.path }}
{% endif %}
    service: {{ entry.service }}
{% endfor %}

# Catch All
  - service: http_status:404
