{
  "AccountTag": "{{ _olympus_v2['olympus_tunnel']['account_id'] }}",
  "TunnelSecret": "{{ _olympus_v2['olympus_tunnel']['secret'] }}",
  "TunnelID": "{{ _olympus_v2['olympus_tunnel']['uuid'] }}",
  "TunnelName": "{{ _olympus_v2['olympus_tunnel']['name'] }}"
}
