# Configuration file for ddclient

##
## Global Config
##
daemon=300
ssl=yes
syslog=yes

pid=/run/ddclient.pid
cache=/tmp/ddclient.cache

##
## {{ inventory_hostname }} - Cloudflare
##
protocol=cloudflare
use=if, if={{ ansible_facts['default_ipv4']['interface'] }}
login=token
password={{ cf_api_token }}
zone={{ inventory_hostname.split(".")[1:]|join(".")|lower }}
{{ inventory_hostname }}
